.head__burger-btn {
  display: none;
}

.head__burger-btn {
  position: relative;
  height: 18px;
  width: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.head__burger-btn span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 2px;
  background-color: #202020;
  transition: transform .3s ease-in;
}

.head--menu-open .head__burger-btn span:nth-of-type(1) {
  transform: rotate(45deg);
}

.head--menu-open .head__burger-btn span:nth-of-type(2) {
  display: inline-block;
  transform: rotate(-45deg);
}

.head__burger-btn::before,
.head__burger-btn::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #202020;
  transition: opacity .3s ease-in;
}

.head--menu-open .head__burger-btn::before,
.head--menu-open .head__burger-btn::after {
  opacity: 0;
}

.head__burger-btn::before {
  top: 0;
  transform: translateY(-50%);
}

.head__burger-btn::after {
  bottom: 0;
  transform: translateY(50%);
}

@media screen and (max-width: 960px) {

  .head__burger-btn  {
    display: flex;
  }
}