.cart {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 600px;
  background-color: #fff;
  z-index: 9999;
  opacity: 1;
}

.cart.head--cart-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart__wrap-header {
  padding: 0 12px 0 20px;
  height: 53px;
  background-color: #F4F4F4;
}

.cart__wrap-header span {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #B4B4B4;
}

.cart__wrap-header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart__items {
  height: 400px;
  background-color: #fff;
}

.cart footer {
  height: 115px;
  padding: 19px 18px 15px 18px;
  background-color: #F4F4F4;
}

.cart__wrap-info {
  margin-bottom: 12px;
}

.cart__wrap-info span {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.33);
}

.cart__wrap-btns button:first-child {
  width: 119px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #202020;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.cart__wrap-btns button:last-child {
  width: 190px;
  height: 48px;
  background: #CC0000;
  border: 1px solid #950000;
  box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px -1px 0px rgba(32, 32, 32, 0.33);
}

.brightness {
  background-color: #666666;
  filter: brightness(0.4);
  transition: filter .3s ease-in;
}

@media screen and (max-width:580px) {
  .cart {
    width: 100vw;
    height: 100vh;
  }
}