.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgba(32, 32, 32, 0.05);
}

.head__nav {
  display: flex;
  flex-direction: row;
}

.head__nav-items {
  margin-right: 2.5em;
}

.head__link {
  text-decoration: none;
  color: #202020;
  font-weight: bold;
  font-size: 1.313em;
  line-height: 1.625em;
}

.head__link:last-child {
  text-transform: uppercase;
  color: #CC0000;
}

.head__link:not(:last-child) {
  margin-right: 2em;
}

.head__search {
  width: 30px;
  background-image: url('../assets/ico/search.png');
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #fff;
  margin-right: 1.5em;
}

.head__search:focus,
.head__search:active {
  width: 10rem;
  background-image:none;
}

.head__cart-btn-open {
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.head__cart-btn-open {
  position: relative;
}

.head__cart-btn-open::before {
  position: absolute;
  content: '8';
  top: -6px;
  right: 0;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

@media screen and (max-width: 960px) {
  .head__nav-items {
    display: none;
  }

  .head__burger-btn {
    display: flex;
  }
}

@media screen and (max-width: 720px) {
  .head {
    padding: 0 1rem;
  }

  .head__logo .head__img {
    width: 170px;
  }

  .head__search {
    display: none;
  }
}